<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="../../stylesheets/login.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">fudo</h3>
      <nav class="nav nav-masthead">
      <!--<a class="nav-link active" href="#">Home</a>-->
      <a class="nav-link" href="/newsfeed">Discover</a>
      {{#unless isLoggedIn}}
      <a class="nav-link" href="/login">Login</a>
      {{/unless}}
      {{#if isLoggedIn}}
      <a class="nav-link" href="/myprofile">My Profile</a>
      <a class="nav-link" href="/logout">Logout</a>
      {{/if}} 
      </nav>
    </div>
  </div>
  <div class="login">
  <h1>Log In</h1>
    <form method="post">
      <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log in</button>
        <a class="registerlink" href="/signup">Register Here</a>
    </form>
</div>
  
    <script src="js/index.js"></script>

</body>
</html>