<div class="navbar">
	<h1> {{ title }} </h1>
	<ul>
		<li> <input type="text" placeholder="Search" name="searchContent">
		<li> <a href="/login">Login</a>
		<li> <a href="/logout">Logout</a>
	</ul>
</div>